<%# app/views/layouts/application.html.erb %>

<!DOCTYPE html>
<html>
  <head>

    <title>LPC AI Agent</title>

    <%= favicon_link_tag 'favicon.png' %>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <meta name="current-role" content="<%= current_user ? current_user['role'] : 'guest' %>">
    
    <% perms_path = Rails.root.join("config/config-perms.txt") %>
    <% editable_roles = File.readlines(perms_path, chomp: true).reject(&:blank?).join(",") %>
    <meta name="editable-roles" content="<%= editable_roles %>">


    <link rel="apple-touch-icon" href="/icon.png">
    <meta name="eye-icon-url" content="<%= asset_path('eye.svg') %>">

    <%= stylesheet_link_tag "llm_chat", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

<script>
  window.BEEP_WAV_PATH = "<%= asset_path('beep.wav') %>";
  window.DEFAULT_SPACES_BUCKET = "<%= ENV['DO_SPACES_BUCKET'] %>";
  window.LOCK_ICON_PATH = "<%= asset_path('lock.svg') %>";
</script>
